<!DOCTYPEhtml>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewpiort" content="width=device-width, initial-scale=1"/>
		<!-- Encabezado de la página con el nombre de la empreza y el logotipo -->
		<title> Fonda </title>
		<link href="../Documents/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link rel="shortcut icon" href="../Sources/platillo.png" type="image/png"/>
		<link href="../Style/stylemain.css"  rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<header>
				<nav class="navbar navbar-default navbar-fixed-top" role="navegation" id="top">
					<div class="row">
						<div class="col-lg-6 col-lg-offset-0 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1">
							<div class="navbar-header">
								<a class="navbar-brand"> <img alt="Logotipo del Sitio" src="../Sources/restaurant.jpg" height="75"/> </a>
								<p class="navbar-text"> <font size="10" type="Roman"> Fonda </font> </p>
							</div>	
						</div>	
						<div class="col-lg-8 col-lg-offset-0 col-md-6 col-sm-4 col-xs-2">
						<!-- Navegación por la página -->
							<ul class="nav nav-tabs">
								<li role="presentation"><a href="main.html"> Inicio </a></li>
								<li role="presentation"><a href="menu.html"> Menú </a></li>
								<li role="presentation"><a href="recetas.html"> Recetas </a></li>
								<li role="presentation"><a href="pedidos.html"> Pedidos </a></li>
								<li role="presentation"><a href="contacto.html"> Contacto </a></li>
								<li role="presentation"><a href="cuenta.html"> Cuenta </a></li>
								<li role="presentation"><a href="somos.html"> ¿Quiénes somos? </a></li>
								<li role="presentation" class="active"><a href="opinion.html"> Deja tu opinión </a></li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<!-- Contenido principal de la pestaña -->
			<div class="main" id="conten-main">
				<div class="row">
					<div class="col-lg-10 col-sm-4">
						<!-- Cuadro de texto para el comentario -->
						<br/><br/>
						<h3>Dejanos tu opinion, ¡es importante!
							Nos interesa saber que te parece nuestro servicio y en que crees que podemos mejorar</h3>
						<br/>
						<form><input type="text" id=comentario" class="form-control" rows="4"></input>
						<br/>
						<!-- Boton para enviar la informacion -->
						<input type="submit" value="Enviar" class="btn btn-success" data-toggle="modal">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Créditos -->
			<div class="col-lg-15 navbar-fixed-bottom">
				<footer class="text-center" id="top">
					Hecho en México. Todos los derechos reservados.
					<br/>
					<div class="modal fade" id="creditos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
									<h3 class="modal-title" id="myModalLabel" align="center"> Créditos </h3>
								</div>
								<div class="modal-body">
									<h4 align="center"> Desarrollo: </h4>
									<p>
									<ul>
										<li>García Domínguez Mario Angel </li>
										<li>Gomez Leonardo</li>
										<li>Martínez Martos Arturo Cesar </li>
										<li>Sanchez Perez Ricardo </li>
										<li>Trejo RodriguezCabo Gerardo Andrés </li>
									</ul>
									</p>
									<div class="footer" align="center">
										ENP 6 Antonio Caso <br/>
										UNAM
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal"> Cerrar 
										<span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		</div>
		<script src="../Documents/jquery.js"></script>
		<script src="../Documents/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="main.js">
		</script>
	</body>
</html>