<!DOCTYPEhtml>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewpiort" content="width=device-width, initial-scale=1"/>
		
		<title> Fonda </title>
		
		<link href="../Documents/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link rel="shortcut icon" href="../Sources/platillo.png" type="image/png"/>
		<link href="../Style/stylemain.css"  rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="container">
			<header>
				<nav class="navbar navbar-default navbar-fixed-top" role="navegation" id="top">
					<div class="row">
						<div class="col-lg-6 col-lg-offset-0 col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1">
							<div class="navbar-header">
								<a class="navbar-brand"> <img alt="Logotipo del Sitio" src="../Sources/restaurant.jpg" height="75"/> </a>
								<p class="navbar-text"> <font size="10" type="Roman"> Fonda </font> </p>
							</div>	
						</div>	
						<div class="col-lg-8 col-lg-offset-0 col-md-4 col-sm-4">
							<ul class="nav nav-tabs">
								<li role="presentation"><a href="main.html"> Inicio </a></li>
								<li role="presentation"><a href="menu.html"> Menú </a></li>
								<li role="presentation"><a href="recetas.html"> Recetas </a></li>
								<li role="presentation" class="active"><a href="#"> Pedidos </a></li>
								<li role="presentation"><a href="contacto.html"> Contacto </a></li>
								<li role="presentation"><a href="cuenta.html"> Cuenta </a></li>
								<li role="presentation"><a href="informacion.html"> ¿Quiénes somos? </a></li>
								<li role="presentation"><a href="opinion.html"> Deja tu opinión </a></li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<div class="main" id="conten-main">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-15 navbar-fixed-bottom">
				<footer class="text-center" id="top">
					Hecho en México. Todos los derechos reservados.
					<br/>
					Créditos.
					<br/>
				</footer>
			</div>
		</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<script src="../Documents/jquery.js"></script>
		<script src="../Documents/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="main.js">
		</script>
	</body>
</html>